.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-weight: 500;
    font-size: 2.2rem;
}
.nav-items{
    display: flex;
    gap: 3rem;
    align-items: center;
    list-style: none;
}
.nav-item{
    font-size: 1.2rem;
}
.nav-item > button{
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--black-color);
    border: 1px solid var(--black-color);
    padding: 0.6em 2.3em;
    border-radius: 1rem;
}