.secondary-hero{
    margin-top: 4em;
    display: flex;
    max-width: 100%;
}
.secondary-left{
    width: 50%;
    display: flex;
    gap: 2rem;
}
.secondary-right{
    margin-left: 8em;
    align-self: flex-end;
}
.secondary-right > .secondary-info{
    display: flex;
    gap: 7rem;
}
.about h1{
    font-size: 5rem;
    font-weight: 500;
    line-height: 1;
}
.about h6{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}
.explore{
    max-width: 140%;
    display: flex;
    margin-top: 3em;
    background-color: var(--black-color);
    color: var(--white-color);
    align-items: center;
    justify-content: space-between;
    padding: 0.6em 0.6em 0.6em 2em;
    border-radius: 3rem;
}
.explore > img{
    background-color: var(--white-color);
    border-radius: 50%;
}