.vans-container {
    margin-bottom: 5em;
}

.van-filter-items {
    margin: 1em 0;
    display: flex;
    gap: 3em;
    align-items: center;
}

.filter-item {
    padding: 0.4em 1em;
    border-radius: 0.3rem;
}

.clear-filter {
    text-decoration: underline;
}
.for-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vans-list-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-content: center; */
    gap: 2em 6em;
}
.vans-layout > img{
    border-radius: 0.4em;
}
.van-details-container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.van-model-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.van-type{
    /* display: inline; */
    padding: 0.5em 2em;
    border-radius: 0.4em;
    justify-self: left;
    align-self: flex-start;
}