:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --first-color: #597e52;
  --second-color: #c6a969;
  --third-color: #f1e4c3;
  --fourth-color: #ffffec;
  --white-color: #fff;
  --black-color: #000;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color utilities */
.first-color {
  color: var(--first-color);
}
.second-color {
  color: var(--second-color);
}
.third-color {
  color: var(--third-color);
}
.fourth-color {
  color: var(--fourth-color);
}
.white-color {
  color: var(--white-color);
}
.black-color {
  color: var(--black-color);
}

/* background color utilities */
.first-bg{
  background-color: var(--first-color);
}
.second-bg{
  background-color: var(--second-color);
}
.third-bg{
  background-color: var(--third-color);
}
.fourth-bg{
  background-color: var(--fourth-color);
}
.white-bg{
  background-color: var(--white-color);
}
.black-bg{
  background-color: var(--black-color);
}

/* border utilities */
.first-border {
  border: 1px solid var(--first-color);
}
.second-border {
  border: 1px solid var(--second-color);
}
.third-border {
  border: 1px solid var(--third-color);
}
.fourth-border {
  border: 1px solid var(--fourth-color);
}
.white-border {
  border: 1px solid var(--white-color);
}
.black-border {
  border: 1px solid var(--black-color);
}
