

.main-container{
  margin: 3.5em auto;
  max-width: 90vw;
  min-height: 90vh;
  background-color: var(--white-color);
  border-radius: 1.2em;
  padding: 2em 3em;
}
.horizontal-line{
  color: var(--background-grey);
  margin: 1em 0 2em 0;

}





