

.main-container{
  margin: 3.5rem auto;
  width: 90vw;
  height: 100vh;
  background-color: var(--white-color);
  border-radius: 18px;
  padding: 2rem 3rem;
}
.horizontal-line{
  color: var(--background-grey);
  margin: 1rem 0 2rem 0;

}





