.footer-container{
    background: var(--secondary-color);
    height: 100vh;
    color: whitesmoke !important;
    text-align: center;
    padding: 0 300px;
}
.footer-headline{
padding: 200px 130px 0px 130px;
margin-bottom: 50px;
font-size: 90px;
font-weight: 500;

}
.footer-btn{
    color: whitesmoke !important;
    border: 1px solid whitesmoke !important;
}
.footer{
    text-align: left;
    margin: 140px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    
}
.footer-left h1{
    font-size: 50px;
    margin: 0;
}
.footer-left h4, .footer-right h4{
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
}

.footer-right h3{
    font-size: 22px;
    margin-bottom: 40px;
}

